@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

html {
	height: 100%;
}

body {
	background-color: rgb(0, 48, 87);
	background-image:linear-gradient(180deg, rgb(0, 20, 35) 0, rgb(0, 48, 87) 750px);
	background-repeat: no-repeat;
	font: 16px/1.5em 'Kalam', cursive;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	min-height: 500px;
	padding-top: 30px;
}

h1 {
	display: block;
	margin: 0 auto 1em auto;
	background-image: url('../img/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 165px;
	height: 100px;
	text-indent: -9999px;
}

#content {
	background: rgba(0,0,0,0.1);
	border-radius: 50px;
	box-shadow: inset 2px 2px 6px rgba(0,0,0,0.3);
	margin: 0 auto;
	min-width: 320px;
	overflow: hidden;
	width: 80%;
}

#content p {
	margin: 0 0 0.75em 0;
	padding: 0;
	line-height: 1.25em;
	color: #c8d7e2;
	text-align: center;
	text-shadow: -1px -1px 0 #12202A;
}

#content p:last-of-type {
	margin-bottom: 0;
}

a {
	color: rgb(29, 155, 240);
	text-decoration: none;
}

/* For larger screens */
@media (min-width: 481px) {
	#content {
		max-width: 760px;
		padding: 30px;
	}

	#content p {
		font-size: 1.75em;
	}
}

/* For smaller screens (generally mobile) */
@media (max-width: 480px), (max-device-width: 480px) {
	#content {
		min-width: 300px;
		padding: 20px;
	}

	#content p {
		font-size: 1.25em;
		line-height: 1.5em;
	}
}